{% extends "blog/base.html" %} {% block title %}Profile Page{% endblock title %}
{% block content %}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <img
      class="rounded-circle account-img"
      src="{{ user.profile.avatar.url }} "
      style="cursor: pointer"
      width="300"
      height="300"
    />
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="">{{user.username}}'s Profil</h1>
      <h2>Bio:</h2>
      <p class="">{{ user.profile.bio }}</p>
      <h2>Stadt:</h2>
      <p>{{user.profile.city}}</p>
      <h2>Universität:</h2>
      <p>{{user.profile.university}}</p>
      <a href="{% url 'change-profile' user.profile.pk %}" class="btn"
        >Profil bearbeiten</a
      >
    </div>
  </div>
</div>

{% endblock content %}
