
{% extends "blog/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        <h1>{{user.username}}'s Profil </h1>
        <p class="text-center"></p>
    </div>
    {% csrf_token %}
    <div>
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"
        width="300"
        height="300"/>
        <br></br>
        <label class="Bio">Bio:</label> {{user.profile.bio}}
        <br></br>
        <label class="City">Stadt:</label> {{user.profile.city}}
        <br></br>
        <label class="university">Universität:</label> {{user.profile.university}}
        <br></br>
        <a href="{% url 'change-profile' user.profile.pk %}" class="btn">Profil bearbeiten</a>
    </div>
    
{% endblock content %}