:root {
  --main-color: rgb(242, 126, 0);
}

@media (min-width: 1200px) {
  .container {
    max-width: 50%;
  }
}

body {
  height: 100%;
  padding-bottom: 60px;
}

.navbar {
  background-color: #212529;
}

.light-toggler {
  border: 1px solid #fff;
  color: #fff;
}

.logo {
  font-size: x-large;
  font-weight: 400;
  margin: 10px 0;
  color: #fff;
}

#cookie-icon {
  display: inline;
  width: 1.5rem;
  height: 1.5rem;
  transition: 1s;
}

#cookie-icon:hover {
  transform: rotate(360deg);
}

.warningtext {
  color: red;
}

#createblogbutton {
  margin-top: 20px;
}

.categorybutton {
  margin-top: 20px;
}

#chosencategorybutton {
  margin-top: 20px;
  opacity: 1;
}

.blog-title-link {
  text-decoration: none;
  color: #000;
  font-size: large;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: var(--main-color);
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.btn {
  border: 1px solid #000;
  border-radius: 2rem;
  /* opacity: 0.5; */
}

.btn > a {
  text-decoration: none;
  color: #000;
}

.btn:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  opacity: 1;
}

input:focus,
textarea:focus,
select:focus,
.form-control:focus,
.form-select:focus {
  outline: none;
  box-shadow: none;
}

.chat-item {
  transition-duration: 0.2s;
}

.chat-item:hover {
  transform: scale(1.05);
  background-color: #eee;
}

.link {
  font-style: italic;
}

.messages {
  list-style-type: none;
}
