@media (min-width: 1200px) {
  .container {
    max-width: 50%;
  }
}

.warningtext {
  color: red;
}

#createblogbutton {
 margin-top: 20px;
}

.blog-title-link {
  text-decoration: none;
  color: #000;
  font-size: large;
}

.btn {
  border: 1px solid #000;
  border-radius: 2rem;
  opacity: 0.5;
}

.btn > a {
  text-decoration: none;
  color: #000;
}

.btn:hover {
  opacity: 1;
}

input:focus,
textarea:focus,
select:focus,
.form-control:focus,
.form-select:focus {
  outline: none;
  box-shadow: none;
}
