{% extends "blog/base.html" %} <span></span>
{% block content %} {% load crispy_forms_tags %}
<div class="container py-5">
  <h1>Beitrag "{{ entrytochange.title }}" bearbeiten</h1>
  {% if request.user == entrytochange.author and request.user.is_authenticated%}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form|crispy }}
    <button class="btn" type="submit">Änderungen speichern</button>
  </form>
  {% else %}
  <p>
    Sie besitzen nicht die Rechte, um diesen Beitrag zu bearbeiten. <br />Es ist
    Ihnen nur erlaubt, Ihre eigenen Beiträge zu bearbeiten!
  </p>
  {% endif %}
</div>
{% endblock content %}
