{% extends "blog/base.html" %} {% block content %}
<div class="bg-dark">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-12 col-lg-6 text-center">
        <h1 class="text-white">CaringCookie</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  {% for blog in blogs %}
  <div class="row">
    <div class="card border-0 col" style="margin-top: 2rem">
      <div class="card-body">
        <a class="blog-title-link" href="{% url 'blogs_detail' blog.pk %}"
          >{{ blog.title }}</a
        >
        <p class="card-text">{{ blog.content|truncatewords:30 }}</p>
        <a class="btn" href="{% url 'blogs_detail' blog.pk %}">Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
