{% extends "blog/base.html" %} {% block content %}
<div class="bg-dark">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-12 col-lg-6 text-center">
        <h1 class="text-white">CaringCookie</h1>
      </div>
    </div>
  </div>
</div>
<div class="container px-5">
  {% if categorys %}
  {% for category in categorys %}
      {% if requestedcategory == category %}
      <a class="btn" id="chosencategorybutton" href="{% url 'category' category.name %}">{{category.name}}</a>
      {% else %}
      <a class="btn" id="categorybutton" href="{% url 'category' category.name %}">{{category.name}}</a>
      {% endif %}
  {% endfor %}
  <hr>
  {% endif %}
    <a class="btn" id= "createblogbutton" href="{% url 'create_blog' %}">Neuen Beitrag erstellen</a>
  {% for blog in blogs %}
  <div class="card shadow rounded" style="margin-top: 2rem">
    <div class="card-header">{{ blog.type }}</div>
    <div class="card-body">
      <a
        class="blog-title-link card-title"
        href="{% url 'blogs_detail' blog.pk %}"
        >{{ blog.title }}</a
      >
      <p class="card-text">{{ blog.content|truncatewords:30 }}</p>
      <a class="btn" href="{% url 'blogs_detail' blog.pk %}">Details</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
