{% extends 'blog/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
  <a class="pt-3" href="{% url 'inbox' %}">Zurück zur Inbox</a>
  <h1>Wen möchtest du anschreiben?</h1>

  {% if messages %} <span></span>
  {% for message in messages %}
  <div></div>
  {{ message }}
  <div></div>
  {% endfor %}
  <div></div>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    <p>Gib einen Nutzernamen an, um mit dem Chatten anzufangen.</p>
    {{ form | crispy }}
    <button class="btn" type="submit">Weiter</button>
  </form>
</div>
{% endblock content %}
