{% extends "blog/base.html" %} <span></span>
{% block content %} {% load crispy_forms_tags %}
<div class="container py-5">
        <h1>Möchten Sie den Chat endgültig löschen?</h1>
 
        <p class="warningtext">Einmal gelöscht können Sie den Chat nicht wiederherstellen. 
        <form method="POST">
            {% csrf_token %}
            <button class="btn" type="submit">Chat endgültig löschen</button>
        </form>
        <a href="{% url 'inbox' %}" class="btn"> Chat nicht löschen </a>
</div>
{% endblock content %}