{% extends 'blog/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
  <h1>Chat mit {{ thread.receiver }}</h1>

  {% if message_list.all.count == 0 %}
  <p>No Messages</p>
  {% endif %} <span></span>
  <div class="chat d-flex flex-column">
    {% for message in message_list %} <span></span>

    {% if message.sender_user == request.user %}
    <p class="ms-auto">{{message.sender_user}}: {{ message.body }}</p>
    {% elif message.receiver_user == request.user %}
    <p class="me-auto">{{message.sender_user}}: {{ message.body }}</p>
    {% endif %} <span></span>
    {% endfor %}
  </div>
  <form
    method="POST"
    action="{% url 'create-message' thread.pk %}"
    enctype="multipart/form-data"
  >
    {% csrf_token %} {{ form | crispy }}
    <button class="btn" type="submit">Versenden</button>
  </form>
</div>
{% endblock content %}
